/** @format */

.ui.statistics {
	justify-content: center;
	padding: 4em 0;
}

.ui.statistics .statistic .value {
	color: #660c00 !important;
}

.ui.footer.segment {
	background-color: #903636;
	margin: 5em 0em 0em;
	padding: 5em 0em;
}
